body {
  font-family: Georgia, serif;
  background-color: #8b5e3c;
  color: #3b2f2f;
  margin: 0;
  padding: 0;
}

.navbar {
    background-color: #8b5e3c;
    color: #3b2f2f;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #5a3b28;
    
}

.nav-logo {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Georgia', serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #3b2f2f;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ffd8a6;
    cursor: pointer;
}


.hero {
  background: linear-gradient( #ffd8a6, #8b5e3c);
  color: #332318;
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.timeline {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  background-color: #ffd8a6a1;
  box-shadow: 0px 30px 30px #3b2f2f;
  border-radius: 20px;
}

.event {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
  gap: 30px;
}

.event img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.event img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.event-text {
  flex: 1;
  min-width: 280px;
}

.event-text h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #5a3b28;
}

.event-text p {
  font-size: 16px;
  line-height: 1.6;
}

.footer {
  background-color: #8b5e3c;
  color: #452e1e;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  border-top: 4px solid #5a3b28;
}
